#landing {
  display: flex;
  background-image: url("../../assets/images/backgrounds/green-gradient.png");
  min-height: 100vh;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

/* NAV*/

.nav-back {
  border: none !important;
  background-color: transparent !important;
}

/* Oval Animations */
.oval-container {
  margin-top: -40px;
  margin-left: -50px;
}

.oval {
  border-radius: 50%;
  transform: rotate(-15deg);
  position: absolute;
  background-color: none;
  border: 1px solid #cbb768;
  margin-bottom: 10px;
  opacity: 0;
}

@keyframes appearAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100%) translateX(-50%);
    transform: rotate(-90deg);
  }
  25% {
    opacity: 0.25;
    transform: rotate(20deg);
  }
  50% {
    opacity: 0.5;
    transform: rotate(-45deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-20deg);
  }
}

@keyframes appearAnimationMid {
  0% {
    opacity: 0;
    transform: translateY(-100%) translateX(-50%);
    transform: rotate(-90deg);
  }
  25% {
    opacity: 0.25;
    transform: rotate(-20deg);
  }
  50% {
    opacity: 0.5;
    transform: rotate(-45deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-9deg);
  }
}

@keyframes appearAnimationUp {
  0% {
    opacity: 0;
    transform: translateY(-100%) translateX(-50%);
    transform: rotate(-90deg);
  }
  25% {
    opacity: 0.25;
    transform: rotate(-20deg);
  }
  50% {
    opacity: 0.5;
    transform: rotate(5deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-45deg);
  }
}

@media screen and (max-width: 540px) {
  #menu {
    margin-left: -3vw !important;
  }
}
