#resume {
  background-image: url("../../assets/images/backgrounds/green-vert.png");
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-position: right center;
}
