#work {
  background-image: url("/src/assets/images/backgrounds/darkGreen.jpeg");
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background-position: left top;
}

.work-title {
  font-family: "Tenor Sans";
  text-transform: uppercase;
  font-size: 6vw !important;
  color: var(--darkyellow);
}

.project-title {
  font-family: "Dream Avenue";
  text-transform: uppercase;
  font-size: 4vw;
  color: var(--darkyellow);
}

.top-desc {
  color: white;
  font-family: "Tenor Sans";
  text-transform: uppercase;
  font-size: 2vw;
}
