#autoform {
  background-image: url("../../assets/images/backgrounds/green-gradient\(s\).jpg");
  transform: scaleX(-1);
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
