#accordion {
  max-width: 80vw;
  color: white;
}

.accordion-name {
  color: var(--yellow);
  font-family: "Tenor Sans";
  text-transform: uppercase;
  font-size: 18px !important;
}

.accordion-name-box:hover {
  cursor: pointer;
}

.type {
  font-family: "Tenor Sans";
  font-size: 14px;
}

.accordion-desc {
  font-family: "DM Sans", sans-serif;
}

.accordion-item {
  overflow: hidden;
  max-height: "70px";
}

.desc-text {
  font-size: 2.4vw;
  font-weight: 100;
}

.site-links {
  font-family: "Tenor Sans";
  font-size: 1.5vw;
  color: var(--darkyellow);
}
.chevron-icon {
  transition: 0.2s ease-in-out;
  transform-origin: center;
}

@media screen and (min-width: 768px) {
  .accordion-name {
    font-size: 25px !important;
  }
  #accordion {
    max-width: 55vw;
    color: white;
  }

  .type {
    font-family: "Tenor Sans";
    font-size: 16px;
  }
  .desc-text {
    font-size: 1rem;
  }
}
